*{
	box-sizing:border-box;
}

html {
	margin:0px;
	padding:0px;
	border:0px;
	background-color:#dfe3ee;
	background-image:url(".jpg");
	font-family: sans-serif;
}

form#login input {
	border:None;
	border-bottom:1px solid black;
	border-radius:12px;
	height:30px;
	width:400px;
	margin-bottom:15px;
	margin-top:30px;
	font-size:17px;
	text-align:center;
	font-family:inherit;
}

input:focus {
	outline:none;
}

form#signup input {
	height:30px;
	width:400px;
	border-radius:12px;
	font-size:17px;
	text-align:center;
}

form#login {
	border-radius:25px;
	position:absolute;
	margin:10px 10px 10px 10px;
	text-align:center;
	height: 270px;
	width: 630px;
	background-color:#3b5998;
	top:170px;
	left:25px;
	font-family:inherit;
}

form#signup {
	position:absolute;
	margin:10px 10px 10px 10px;
	text-align:center-left;
	height:450px;
	width:630px;
	background-color:#3b5998;
	top:170px;
	left:700px;
	border-radius:25px;
	font-family:inherit;
}

form#login div,div#head,div#foot {
	height:50px;
	background-color:#3b5998;
	color:white;
}

form#signup div {
	text-align:center;
	height:50px;
	margin-top:;
	font-family:inherit;
}

p {
	position:relative;
	font-size:50px;
	font-weight:bolder;
	color:white;
	top:20px;
	left:25px;
}

span {
	font-size:30px;
	font-weight:bold;
	color:white;
}


	
